# 注册表镜像（加速通用包）
registry=https://registry.npmmirror.com/

# Electron 二进制镜像（解决 Electron 卡住）
electron_mirror=https://npmmirror.com/mirrors/electron/

# Esbuild 二进制镜像（解决 Esbuild 潜在的下载慢）
esbuild_binary_site=https://npmmirror.com/mirrors/esbuild/

# 如果你有用到 sass/sharp 等其他常见卡顿包，也可以一并加上：
sass_binary_site=https://npmmirror.com/mirrors/node-sass/
sharp_binary_host=https://npmmirror.com/mirrors/sharp/